<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="https://fonts.googleapis.com/css?family=Bitter|Open+Sans" rel="stylesheet">

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index","Posts")"><img height="51px" style="margin:15px" src="~/Content/images/swg_logo-white.png" alt="The Software Guild" /></a>
                @*@Html.ActionLink("The Software Guild", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })*@
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Posts", "Index", "Posts")</li>
                    @if (User.IsInRole("ENM"))
                    {
                        <li>@Html.ActionLink("Companies", "Index", "Companies")</li>
                        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                        <li>@Html.ActionLink("Apprentices", "Index", "StudentUsers")</li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reports <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Company", "Company", "Reports")</li>
                                
                            </ul>
                        </li>
                    }
                    
                    <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    
                </ul>
                
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        
    </div>
    <footer class="footer">
        <p>&copy; @DateTime.Now.Year -  Software Guild. All Rights Reserved. <a href="https://www.thesoftwareguild.com/privacy-policy/"><strong>Privacy Policy</strong></a></p>
    </footer>
    <script src="~/Scripts/jquery-3.1.0.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/bootstrap-wysiwyg.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
