@model IEnumerable<GuildENM.Models.Attachment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.StudentUser.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Path)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AttachmentTypeId)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.StudentUser.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Path)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AttachmentTypeId)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.StudentUserId }) |
            @Html.ActionLink("Details", "Details", new { id=item.StudentUserId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.StudentUserId })
        </td>
    </tr>
}

</table>
