@model GuildENM.Models.Post

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Post</legend>

    <div class="display-label">Title</div>
    <div class="display-field">@Model.Title</div>

    <div class="display-label">Description</div>
    <div class="display-field">@Model.Description</div>

    <div class="display-label">PostDate</div>
    <div class="display-field">@String.Format("{0:g}", Model.PostDate)</div>

    <div class="display-label">LastEdit</div>
    <div class="display-field">@String.Format("{0:g}", Model.LastEdit)</div>

    <div class="display-label">Comments</div>
    <div class="display-field">@(Model.Comments == null ? "None" : Model.Comments.Count.ToString())</div>

    <div class="display-label">Company</div>
    <div class="display-field">@(Model.Company == null ? "None" : Model.Company.Name)</div>

    <div class="display-label">Location</div>
    <div class="display-field">@Html.DisplayTextFor(_ => Model.Location).ToString()</div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>


