@model GuildENM.Models.Post

@{
    ViewBag.Title = "Details";
}

<div class="row">
    <div class="col-md-12">
       
        <div class="content" style="margin-top:15px;">
            <h3 class="pull-left"> @Model.Title</h3>
            <div class="pull-right">
                @if (User.IsInRole("ENM"))
                {
                    Html.ActionLink("Edit", "Edit", new { id = Model.Id }); <span></span>
                    @Html.ActionLink("Delete", "Delete", new { id = Model.Id })
                }else{
                <button id="contact" class="btn btn-success" onclick="alert('contact your ENM');"><i class="fa fa-graduation-cap"></i>Apply</button>
                }

            </div>
            <div class="clearfix"></div>
            <h4 class="pull-left">
                @Model.PostDate.Date.ToShortDateString()

            </h4>
            <h4 class="pull-right">
                @Model.Location.Street @Model.Location.Street2 , @Model.Location.State @Model.Location.Zip

            </h4>
            <div class="clearfix"></div>
            <div class="postContent">@Html.Raw(Model.Description)  </div>



        </div>
    </div>


